	<div class="row">
		<div class="col-lg-3">
			<h3>商品一覧</h3>
		</div>
		<div class="col-lg-offset-1 col-lg-10">
			<table class="table">
			<tr class="active" style="font-weight: bold">
				<td>商品ID</td>
				<td>イメージ</td>
				<td>商品名</td>
				<td>税抜価格</td>
				<td>ジャンル</td>
				<td>ステータス</td>
			</tr>
			<br>
			<% datas.each do |data| %>
				<tr>
					<td><%= data.id %></td>
					<td ><%= attachment_image_tag data, :item_image , style: "width: 48px; height: 27px;" %></td>
					<td><%= link_to data.name, admin_item_path(data) %></td>
					<td><%= data.price %>円</td>
					<td>
						<% genre = Genre.find(data.genre_id) %>
						<%= genre.name %></td>
					<td>
						<% if data.is_selling == true %>
							<p>販売中</p>
						<% else %>
							<p>販売停止中</p>
						<% end %>
					</td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
	<div class="col-lg-12">
		<%= paginate datas %>
	</div>