<% provide(:title, "購入確認") %>
<div class="container">
<div class="row">
	<div class="col-lg-4">
		<%= form_with model:@order, url: orders_confirm_path do |f|%>
		<h4>注文情報確認</h4>
	</div>
</div>
	<div class="col-lg-8">
		<table class="table table-bordered">
		<tr class="active">
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
		<% sum = 0 %>
		<% @cart_items.each do |cart| %>
		<tr>
			<td style="line-height: 50px;"><%= attachment_image_tag cart.item, :item_image , style: "width: 50px; height: 50px; float:left; margin-right:10px;"%><%= cart.item.name %></td>
			<td style="line-height: 50px;"><%= include_tax(cart.item.price) %>円</td>
			<td style="line-height: 50px;"><%= cart.count %></td>
			<td style="line-height: 50px;"><%= include_tax(cart.item.price) * cart.count %>円</td>
			<% price = include_tax(cart.item.price) * cart.count %>
			<% sum += price %>
		</tr>
		<% end %>
		</table>
	</div>
	<div class="col-lg-4">
		<table class="table table-bordered">
		<tr><th class="active" style="line-height: 30px;">合計金額</th><td style="line-height: 30px;"><%= sum %>円</td></tr>
		<tr><th class="active" style="line-height: 30px;">送料</th><td style="line-height: 30px;"><%= @postage %>円</td></tr>
		<% payment = sum + @postage %>
		<tr><th class="active" style="line-height: 30px;">請求金額</th><td style="line-height: 30px;"><%= payment %>円</td></tr>
		</table>
	</div>
	<div class="col-lg-12"><h4 class="pull-left">支払方法</h4></div>
	<div class="col-lg-12"><p class="pull-left"><%= params[:order][:payment_method] %></p></div>
	<div class="col-lg-12"><h4 class="pull-left">お届け先</h4></div>
		<% address = ''%>
	<div class="col-lg-12"><p class="pull-left">〒
			<% if params[:order][:address] == "mail" %>
				<%= params[:order][:mail_address] %>
				<% address = params[:order][:mail_address] %>
			<% elsif params[:order][:address] == "new" %>
				<%= params[:order][:newpostcode] %><%= params[:order][:newaddress] %><%= params[:order][:newname] %>
				<% address = params[:order][:newpostcode] +" "+ params[:order][:newaddress] +" "+ params[:order][:newname] %>
			<% else %>
				<%= params[:order][:address] %>
				<% address = params[:order][:address] %>
			<% end %>
		</p></div>
			<%= f.hidden_field :customer_id , value: current_customer.id %>
			<%= f.hidden_field :postage , value: @postage %>
			<%= f.hidden_field :payment , value: payment %>
			<%= f.hidden_field :address, value: address %>
			<%= f.hidden_field :payment_method, value: params[:order][:payment_method] %>
			<%= f.submit '購入を確定する', class: 'btn btn-success btn-lg' %>
		<% end %>
</div>
