<% if flash[:notice] %>
  <div class="alert alert-success text-center">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3><%= @customer.name %>さんの会員情報</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <table class="admin_show_customer">
        <tr class="active">
          <th>顧客ID</th>
          <td><%= @customer.id %>
            <span class="label label-primary">
              <% if @customer.is_valid == true %>
                有効
              <% else %>
                退会済み
              <% end %>
            </span>
          </td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.first_name %> <%= @customer.last_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.kana_first_name %> <%= @customer.kana_last_name %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-info" %>
    </div>
    <div class="col-lg-1">
      <%= link_to "注文一覧を見る", admin_orders_path(customer_id: @customer.id), class: "btn btn-info" %>
    </div>
  </div>
</div>