<% provide(:title, "パスワード変更") %>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h3>パスワードを変更しますか？</h3>
    </div>
  </div>
  <div class="row">
    <%= form_for(current_customer) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="col-lg-3 col-lg-offset-3">
      <span>新しいパスワード(6文字以上)</span>
    </div>
    <div class="col-lg-3">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
      <span>パスワードの確認</span>
    </div>
    <div class="col-lg-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit "パスワードの変更" , class: "btn btn-primary"%>
  </div>
  <% end %>
</div>
