<% provide(:title, "配送先一覧") %>
<% if flash[:notice] %>
	<div class="alert alert-danger text-center">
			<%= flash[:notice] %>
	</div>
<% end %>
<div class="container">
<div class="mailing-form">
<div class="col-lg-4">
	<h4>配送先登録 / 一覧</h4>
</div>
<%= render 'form' ,mailing_address: @mailing_address, submitname: "登録する" , btnclass: "btn btn-success"%>
</div>

<div class="col-lg-9">
<table class="table table-bordered">
<tr class="active">
	<th>郵便番号</th>
	<th>住所</th>
	<th>宛名</th>
	<th></th>
</tr>
<% @mailing_addresses.each do |m|%>
<tr>
	<td style="line-height: 30px;"><%= m.postcode%></td>
	<td style="line-height: 30px;"><%= m.address %></td>
	<td style="line-height: 30px;"><%= m.name %></td>
	<td style="line-height: 30px;">
		<%= link_to '編集する',  edit_mailing_address_path(m) ,class: "btn btn-primary"%>
		<%= link_to '削除する',  mailing_address_path(m) , method: :delete ,class: "btn btn-danger"%>
	</td>
</tr>
<% end %>
</table>
</div>
</div>
</div>
