<% provide(:title, "ログイン") %>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h3>会員の方はこちらからログイン</h3>
    </div>
  </div>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-lg-2 col-lg-offset-3">
      <span>メールアドレス</span>
    </div>
    <div class="col-lg-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-3">
      <span>パスワード</span>
    </div>
    <div class="col-lg-3">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-6">
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-6">
        <%= link_to "=> パスワードを忘れた方はこちら", customers_password_new_path %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
    <% end %>
  <div class="col-lg-4">
    <h3>登録がお済みでない方</h3>
    <strong><%= link_to "こちら", new_customer_registration_path %></strong>　から新規登録を行ってください。
  </div>
</div>