<% provide(:title, "カート") %>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
		<h3>ショッピングカート</h3>
		</div>
		<div class="col-lg-4">
		</div>
		<div class="col-lg-4">
			<% if @cart_items.present? == true %>
				<%= link_to 'カートを空にする',  destroy_cart_items_path, method: :delete, class: 'btn btn-danger'%>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-xs-offset-1">
			<table class="table table-bordered">
				<thead>
					<tr class="active">
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th></th>
					</tr>
				</thead>
			<% total = 0 %>
			<% @cart_items.each do |cart| %>
			<tbody>
			<tr>
				<td style="line-height: 30px;"><%= attachment_image_tag cart.item, :item_image , style: "width: 50px; height: 30px;", class: "pull-left"%> <%= cart.item.name %></td>
				<td style="line-height: 30px;"><%= include_tax(cart.item.price) %>円</td>
				<td><%= form_with model:cart, url:cart_item_path(cart), method: :patch do |f| %>
					<%= f.hidden_field :item_id, value: cart.item.id %>
					<%= f.hidden_field :customer_id, value: current_customer.id %>
					<%= f.text_field :count , value:cart.count %>
					<%= f.submit "変更", class: 'btn btn-primary'%>
					<% end %></td>
				<td style="line-height: 30px;"><%= include_tax(cart.item.price) * cart.count %>円</td>
				<td style="line-height: 30px;"><%= link_to '削除する', destroy_cart_item_path(cart), method: :delete, class: 'btn btn-danger' %></td>
				<% total += include_tax(cart.item.price) * cart.count %>
			</tr>
			<% end %>
			</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<%= link_to '買い物を続ける', root_path, class: 'btn btn-primary' %>
		</div>
	<div class="col-lg-3 col-xs-offset-4">
		<table class="table table-bordered">
		<tr><th class="active">合計金額</th><td><%= total %>円</td></tr>
		</table>
	</div>
	<% if @cart_items.present? == true %>
		<%= link_to  orders_new_path ,class: 'btn btn-success btn-lg' do %>
			<p style= "margin: 0; padding: 10px 50px">情報入力へ進む</p>
		<% end %>
	<% end %>
	</div>
</div>
