<footer class="navbar navbar-default">
  	<p class="navbar-text">©ながのCAKE</p>

      <% if customer_signed_in? %>
          <p class="navbar-text navbar-right" style="margin-right: 20px">
            <%= link_to'購入履歴一覧', customer_orders_path %>
            <%= link_to'登録情報変更',edit_customer_path(current_customer) %>
            <%= link_to'商品一覧', customer_items_path %>
            <%= link_to'トップページ', root_path %>
          </p>
      <% elsif admin_signed_in? %>
          <p class="navbar-text navbar-right" style="margin-right: 20px">
            <%= link_to'商品一覧', admin_items_path %>
            <%= link_to'トップページ', admin_path  %>
          </p>
      <% else %>
          <p class="navbar-text navbar-right" style="margin-right: 20px">
            <%= link_to'商品一覧', customer_items_path %>
            <%= link_to'トップページ', root_path  %>
          </p>
      <% end %>

</footer>