<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>


  <body>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>

  <script>
    $('#postcode1').jpostal({});
  </script>
</html>
